{% if include.image %}
<div class="publication-image">
  {% if include.url %}
  <a href="{{ include.url }}" target="_blank" rel="noopener noreferrer">
    {% endif %}
    <img
      src="/assets/img/publications/{{ include.image }}"
      class="img-responsive"
      width="200"
      height="auto"
      alt="{{ include.alt | default: 'Publication thumbnail' }}"
    />
    {% if include.url %}
  </a>
  {% endif %} {% if include.conference %}
  <span class="conference-tag">{{ include.conference }}</span>
  {% endif %}
</div>
{% endif %}
