<!-- News Box Shortcode -->
<div class="news-box">
    <h3>News</h3>
    <ul>
        <li><b>[Apr. 2024]</b> Our <a href="https://arxiv.org/abs/2404.01261">preprint</a> on faithfulness in book-length summaries is out!</li>
        <li><b>[Mar. 2024]</b> <a href="https://arxiv.org/abs/1908.11443">NarrativeTime</a> was accepted to LREC-COLING 2024!</li>
        <li><b>[Dec. 2023]</b> Presented <a href="https://aclanthology.org/2023.wmt-1.41/">our work</a> at WMT in Singapore.</li>
        <li><b>[Nov. 2023]</b> Launched <a href="litmt.org">litmt.org</a>, a platform for sharing machine-translated world literature.</li>
        <li><b>[May 2023]</b> Virtual talk at Instituto Superior Técnico & Unbabel Seminar on translation with Large Language Models.</li>
        <li><b>[Apr. 2023]</b> Virtual talk at Microsoft MT Reading Group on translation with Large Language Models.</li>
        <li><b>[Jan. 2023]</b> Virtual talk at Polish Academy of Sciences on Evaluation of Long-form Text Generation.</li>
        <li><b>[Dec. 2022]</b> Presented <a href="https://aclanthology.org/2022.emnlp-main.649.pdf">our work</a> on diagnosing automatic evaluation metrics at EMNLP in Abu Dhabi.</li>
        <li><b>[Dec. 2022]</b> Presented <a href="https://aclanthology.org/2022.emnlp-main.672.pdf">our work</a> on document-level MT at EMNLP in Abu Dhabi.</li>
        <!-- Add more news  -->
    </ul>
</div>

