<!-- News Box Shortcode -->
<div class="news-box">
    <h3>News</h3>
    <ul>
        <li><b>[Mar. 2025]</b> Our <a href="https://arxiv.org/abs/2503.01996">preprint</a> on multilingual long-context processing is out!</li> 
        <li><b>[Jan. 2025]</b> Our <a href="https://arxiv.org/abs/2501.15654">preprint</a> on machine generated text detection is out!</li> 
        <li><b>[Jan. 2025]</b> New <a href="https://arxiv.org/abs/2502.02542">preprint</a> on slow-down attacks on reasoning models is out!</li> 
        <li><b>[Nov. 2024]</b> Recognized as an outstanding AC at EMNLP 2024</li> 
        <li><b>[Sep. 2024]</b> <a href="https://arxiv.org/abs/2406.16264">NoCha</a> was accepted to EMNLP 2024!</li> 
        <li><b>[Sep. 2024]</b> <a href="https://arxiv.org/abs/2406.11580">ESA</a> was accepted to WMT 2024!</li>
        <li><b>[Aug. 2024]</b> Presented our work on the evaluation of long-context language models at UNSW</li> 
        <li><b>[Jul. 2024]</b> Presented our work on the evaluation of long-context language models at RMIT</li> 
        <li><b>[Jul. 2024]</b> Presented our work on the evaluation of long-context language models at the University of Melbourne</li> 
        <li><b>[Jul. 2024]</b> <a href="https://arxiv.org/abs/2404.01261">FABLES</a> was accepted to COLM 2024!</li>
        <li><b>[Jun. 2024]</b> Our <a href="https://arxiv.org/abs/2406.16264">preprint</a> on LONG-CONTEXT processing capabilities of language models is out!</li> 
        <li><b>[Jun. 2024]</b> Our <a href="https://arxiv.org/abs/2406.17761">preprint</a> on MULTI-LINGUAL/CULTURAL performance of language models is out!</li>
        <li><b>[Jun. 2024]</b> Our <a href="https://arxiv.org/abs/2406.11580">preprint</a> on more robust evaluation for machine translation is out!</li>
        <li><b>[Apr. 2024]</b> Our <a href="https://arxiv.org/abs/2404.01261">preprint</a> on faithfulness in book-length summaries is out!</li>
        <li><b>[Mar. 2024]</b> <a href="https://arxiv.org/abs/1908.11443">NarrativeTime</a> was accepted to LREC-COLING 2024!</li>
        <li><b>[Dec. 2023]</b> Presented <a href="https://aclanthology.org/2023.wmt-1.41/">our work</a> at WMT in Singapore.</li>
        <li><b>[Nov. 2023]</b> Launched <a href="litmt.org">litmt.org</a>, a platform for sharing machine-translated world literature.</li>
        <li><b>[May 2023]</b> Virtual talk at Instituto Superior Técnico & Unbabel Seminar on translation with Large Language Models.</li>
        <li><b>[Apr. 2023]</b> Virtual talk at Microsoft MT Reading Group on translation with Large Language Models.</li>
        <li><b>[Jan. 2023]</b> Virtual talk at Polish Academy of Sciences on Evaluation of Long-form Text Generation.</li>
        <li><b>[Dec. 2022]</b> Presented <a href="https://aclanthology.org/2022.emnlp-main.649.pdf">our work</a> on diagnosing automatic evaluation metrics at EMNLP in Abu Dhabi.</li>
        <li><b>[Dec. 2022]</b> Presented <a href="https://aclanthology.org/2022.emnlp-main.672.pdf">our work</a> on document-level MT at EMNLP in Abu Dhabi.</li>
        <!-- Add more news  -->
    </ul>
</div>

