<div class="publication">
    <div class="pub-image">
        <img src="{{ .Get "image" }}" alt="Publication Image">
    </div>
    <div class="pub-details">
        <h3>{{ .Get "title" }}</h3>
        <p>{{ .Get "authors" }}</p>
        <p><strong>{{ .Get "conference_short" }}</strong>: {{ .Get "conference" }}</p>
        <p><a href="{{ .Get "pdf" }}" target="_blank">PDF</a> | <a href="{{ .Get "code" }}" target="_blank">Code</a> | <a href="{{ .Get "bibtex" }}" target="_blank">BibTex</a> | <span>{{ .Get "notes" }}</span></p>
    </div>
</div>

